<% if session[ :career_code ] %>
  <div class="center-reg">
    <h3 class='center-reg'>In order to apply for a career at Quick RX, please sign up below!</h3>
    <h2 class='center-reg'>Sign up</h2>
  </div>
<% else %>
  <div class="center-reg">
    <h3 class='center-reg'>Welcome To The Quick RX Family!</h3>
    <h2 class='center-reg'>Sign up</h2>
  </div>
<% end %>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <% if session[ :career_code ] %>
    <%= f.hidden_field :career_account, value: 'true' %>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<div class="center-reg">
  <h3>If you already have an account, <%= link_to 'Login Here', new_user_session_path %>!</h3>
</div>
