<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>New Job Application</title>
  <style type="text/css">
      body {
            background: #54667a;
           }

      div#content {
                    width: 80%;
                    margin: 0 auto;
                    background: #54667a;
                    padding: 30px;
                    margin-top: 5%;
                    color: #fff;
                  }

      h1 {
          font-family: "Dosis", sans-serif;
          font-size: 36px;
          line-height: 1;
          font-weight: 700;
          text-align: center;
         }

      h3 {
          font-family: "Dosis", sans-serif;
          font-size: 22px;
          line-height: 1;
          font-weight: 400;
          text-align: center;
          }

      p {
          font-family: "Karla", sans-serif;
          font-weight: normal;
          font-size: 1.2rem;
          line-height: 1.6;
          margin-bottom: 1.25rem;
          text-rendering: optimizeLegibility;
        }

      p.center-info {
                      text-align: center;
                    }

      h4 {
          font-family: "Karla", sans-serif;
          font-weight: normal;
          font-size: 1rem;
          line-height: 1.6;
          margin-bottom: 1.25rem;
          text-rendering: optimizeLegibility;
         }

      img {
            width: 300px;
            text-align: center;
          }
  </style>
</head>
<body>
  <div id='content'>
    <h1>A Message to the Quick RX HR Department! Here's a career application. Please review:</h1>

    <h3>Position: <%= @position.position %></h3>

    <p class='center-info'><%= "#{ @user.first_name } #{ @user.last_name }" %></p>
    <p class='center-info'><%= @user.email %></p>

    <br>

    <h3>Quick RX asks why <%= @user.first_name %> would be a good fit for the company. His/her answer is:</h3>

    <p>
      <%= @body %>
    </p>

    <h4>Please contact <%= "#{@user.first_name} #{@user.last_name}" %> if you see them as a good fit for the company!</h4>
  </div>

  <%= image_tag( attachments[ 'logo.png' ].url, :align => "middle" ) -%>

</body>
</html>
