<h1>Hi Lidiya! Here's a career application. Please review:</h1>

<h3>Position: <%= @position.position %></h3>

<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.email %></p>

<br>
<br>

<h3>Quick RX asks why <%= @user.first_name %> would be a good fit for the company. His/her answer is:</h3>

<br>

<p>
  <%= @body %>
</p>

<h4>Please Contact this person if you see them as a good fit for the company!</h4>
