<div class="wrapper">
  <%= render 'header' %>

  <div class="main grey">
		<div class="row">
			<div class="columns large-12">
				<p class="breadcrumbs">
				</p><!-- /.breadcrumbs -->
			</div><!-- /.columns large-12 -->

      <h1 class='dashboard-head'>My Dashboard</h1>
      <h2 class='dashboard-head'>We hope you are having a fantastic day <%= current_user.first_name %>!</h2>

      <br>

			<div class="columns large-12 medium-7">
				<div class="content">
					<article class="event article-single-event">

						<div class="entry-content">
							<div class="event-body" itemprop="articleBody">
                <div class="dashboard-tables">
                  <% if current_user.career_account %>
                    <div class="positions-table">
                      <h3 class='dashboard-table-headers'>Applied Positions</h3>

                      <table>
                        <tr>
                          <th>Position</th>
                          <th>Status</th>
                        </tr>
                        <% @positions.each do | position | %>
                          <tr>
                            <td><p><%= position.position %></p></td>
                            <td><p>Application Submitted Successfully</p></td>
                          </tr>
                        <% end %>
                      </table>
                    </div>
                  <% else %>
                    <div class="tasks-table">
                      <h3 class='dashboard-table-headers'>To-Do Lists</h4>

                      <table>
                        <tr>
                          <th>Task</th>
                          <th>Complete</th>
                          <th>Delete?</th>
                        </tr>
                        <% @todos.each do | todo | %>
                          <tr>
                            <td><%= link_to "#{ todo.name }", todo_path( todo.id ) %></td>
                            <% if todo.complete == true %>
                              <td><p>&#10004;</p></td>
                            <% else %>
                              <td></td>
                            <% end %>
                            <td>
                              <% @this_todo = todo %>
                              <%= render partial: 'todos/delete_todo', layout: false, locals: { todo: @this_todo } %>
                            </td>
                          </tr>
                        <% end %>
                      </table>

                      <a href="#" class='new-task-toggle'>Create New Task +</a>
                      <a href="#" class='minus'>Create New Task -</a>

                      <%= render 'todos/new_todo' %>
                    </div>

                    <% if current_user.admin %>
                      <div class="reports-table">
                        <h3 class='dashboard-table-headers'>Run Reports</h3>

                        <table>
                          <tr>
                            <th>Report Type</th>
                          </tr>
                          <tr>
                            <td><a href="http://192.168.0.11/pc/Reports/BusinessPerformanceRpt.aspx" target='_blank'>Business Performance</a></td>
                          </tr>
                          <tr>
                            <td><a href="http://192.168.0.11/pc/Reports/RxsFilledReport.aspx" target='_blank'>RXs Filled</a></td>
                          </tr>
                          <tr>
                            <td><a href="http://192.168.0.11/pc/Reports/UnderPaidClaimsRpt.aspx" target='_blank'>Underpaid Claims</a></td>
                          </tr>
                          <tr>
                            <td><a href="http://192.168.0.11/pc/Reports/ControlDrugDispenseRpt.aspx" target='_blank'>Control Drug Dispense</a></td>
                          </tr>
                        </table>
                      </div>
                    <% end %>

                    <br>

                    <div class="open-orders-table">
                      <h3 class='open-orders-header'>Order Queue</h3>

                      <table>
                        <tr class='first-position'>
                          <th>Item</th>
                          <th>Link</th>
                          <th>Pharmacy</th>
                          <th>Requestee</th>
                          <th>Order Status</th>
                          <% if current_user.admin %>
                            <th>Complete?</th>
                          <% end %>
                        </tr>

                        <% @all_items.each do | item | %>
                          <tr>
                            <td><%= item.name %></td>
                            <% if item.link != 'http://' %>
                              <td><%= link_to 'Order Here', item.link, target: '_blank' %></td>
                            <% else %>
                              <td></td>
                            <% end %>
                            <td><%= item.pharmacy.name %></td>
                            <td><%= "#{ item.user.first_name } #{ item.user.last_name }" %></td>
                            <% if item.complete %>
                              <td>Ordered</td>
                            <% else %>
                              <td>In Queue</td>
                            <% end %>
                            <% if current_user.admin %>
                              <td>
                                <%= form_for item, html: { class: 'item-status-form', method: 'put' } do |f| %>
                                  <%= f.hidden_field :id, value: item.id %>
                                  <% if item.complete %>
                                    <%= f.select :complete, [ [ 'Ordered' ], [ 'In Queue' ] ], { selected: 'Ordered' }, class: 'item-select-box' %>
                                  <% else %>
                                    <%= f.select :complete, [ [ 'Ordered' ], [ 'In Queue' ] ], { selected: 'In Queue' }, class: 'item-select-box' %>
                                  <% end %>
                                  <%= f.submit 'Change Status', class: 'submit-item-status' %>
                                <% end %>
                              </td>
                            <% end %>
                          </tr>
                        <% end %>
                      </table>
                    </div>
                  <% end %>
                </div>
							</div><!-- /.event-body -->
						</div><!-- /.event-box -->
					</article><!-- /.event article-single-event -->

				</div><!-- /.content -->
			</div><!-- /.columns large-8 -->
		</div><!-- /.row -->
	</div><!-- /.main -->
  <%= render 'layouts/footer' %>
</div>

<%= javascript_include_tag "todos.js" %>
<%= javascript_include_tag "days.js" %>
<%= javascript_include_tag "items.js" %>
<%= javascript_include_tag "app.js" %>
