<div class="wrapper">
  <%= render 'header' %>

  <div class="main grey">
		<div class="row">
			<div class="columns large-12">
				<p class="breadcrumbs">
				</p><!-- /.breadcrumbs -->
			</div><!-- /.columns large-12 -->

      <h1 class='dashboard-head'>My Dashboard</h1>

      <br>

			<div class="columns large-8 medium-7">
				<div class="content">
					<article class="event article-single-event">

						<div class="entry-content">
							<div class="event-body" itemprop="articleBody">
                <div class="dashboard-tables">
                  <div class="tasks-table">
                    <h3 class='dashboard-table-headers'>To-Do Lists</h4>

                    <table>
                      <tr>
                        <th>Task</th>
                        <th>Complete</th>
                        <th>Delete?</th>
                      </tr>
                      <% @todos.each do | todo | %>
                        <tr>
                          <td><%= link_to "#{ todo.name }", todo_path( todo.id ) %></td>
                          <% if todo.complete == true %>
                            <td><p>&#10004;</p></td>
                          <% else %>
                            <td></td>
                          <% end %>
                          <td>
                            <% @this_todo = todo %>
                            <%= render partial: 'todos/delete_todo', layout: false, locals: { todo: @this_todo } %>
                          </td>
                        </tr>
                      <% end %>
                    </table>

                    <a href="#" class='new-task-toggle'>Create New Task +</a>
                    <a href="#" class='minus'>Create New Task -</a>

                    <%= render 'todos/new_todo' %>
                  </div>

                  <% if current_user.admin %>
                    <div class="reports-table">
                      <h3 class='dashboard-table-headers'>Run Reports</h3>

                      <table>
                        <tr>
                          <th>Report Type</th>
                        </tr>
                        <tr>
                          <td><a href="http://192.168.0.11/pc/Reports/BusinessPerformanceRpt.aspx" target='_blank'>Business Performance</a></td>
                        </tr>
                        <tr>
                          <td><a href="http://192.168.0.11/pc/Reports/RxsFilledReport.aspx" target='_blank'>RXs Filled</a></td>
                        </tr>
                        <tr>
                          <td><a href="http://192.168.0.11/pc/Reports/UnderPaidClaimsRpt.aspx" target='_blank'>Underpaid Claims</a></td>
                        </tr>
                        <tr>
                          <td><a href="http://192.168.0.11/pc/Reports/ControlDrugDispenseRpt.aspx" target='_blank'>Control Drug Dispense</a></td>
                        </tr>
                      </table>
                    </div>
                  <% end %>

                  <br>

                  <% if current_user.admin %>
                    <div class="open-orders-table">
                      <h3 class='open-orders-header'>Open Order Queue</h3>

                      <table>
                        <tr class='first-position'>
                          <th>Item</th>
                          <th>Link</th>
                          <th>Pharmacy</th>
                          <th>Requestee</th>
                        </tr>

                        <% @all_items.each do | item | %>
                          <tr>
                            <td><%= item.name %></td>
                            <% if item.link != 'http://' %>
                              <td><%= link_to 'Order Here', item.link, target: '_blank' %></td>
                            <% else %>
                              <td></td>
                            <% end %>
                            <td><%= item.pharmacy.name %></td>
                            <td><%= "#{ item.user.first_name } #{ item.user.last_name }" %></td>
                          </tr>
                        <% end %>
                      </table>
                    </div>
                  <% end %>
                </div>
							</div><!-- /.event-body -->
						</div><!-- /.event-box -->
					</article><!-- /.event article-single-event -->

				</div><!-- /.content -->
			</div><!-- /.columns large-8 -->

			<div class="columns large-4 medium-5">
				<div class="sidebar">
					<div class="widgets">
						<div class="widget widget-categories">
							<h4>Quick</h4>

							<h3>Actions</h3>

							<ul class="list-plus">
								<li class='change-hours-list-item'>
									<a href="#" class='open-hours-form'>
										<i class="fa fa-plus"></i>
										Change Corporate Hours
									</a>

                  <%= render 'days/update_hours' %>
								</li>
                <li class='request-item-order'>
                  <a href="#" class='open-item-order'>
                    <i class="fa fa-plus"></i>
                    Request Item Order
                  </a>

                  <%= render 'items/new_item_form' %>
                </li>
							</ul><!-- /.list-plus -->
						</div><!-- /.widget widget-categories -->
					</div><!-- /.widgets -->
				</div><!-- /.sidebar -->
			</div><!-- /.columns large-4 -->
		</div><!-- /.row -->
	</div><!-- /.main -->
  <%= render 'layouts/footer' %>
</div>

<%= javascript_include_tag "todos.js" %>
<%= javascript_include_tag "days.js" %>
<%= javascript_include_tag "items.js" %>
<%= javascript_include_tag "app.js" %>
