<div class="wrapper">
  <%= render 'header' %>

  <div class="main grey">
		<div class="row">
			<div class="columns large-12">
				<p class="breadcrumbs">
				</p><!-- /.breadcrumbs -->
			</div><!-- /.columns large-12 -->

      <h1 class='dashboard-head'>My Dashboard</h1>
      <h2 class='dashboard-head'>We hope you are having a fantastic day <%= current_user.first_name %>!</h2>

      <br>

      <% if current_user.career_account == 'true' %>
  			<div class="columns large-12 medium-7">
  				<div class="content">
  					<article class="event article-single-event">
  						<div class="entry-content">
  							<div class="event-body" itemprop="articleBody">
                  <div class="dashboard-tables">
                    <%= render partial: 'positions_table', layout: false, locals: { positions: @positions } %>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      <% else %>
        <div class="columns large-8 medium-7">
          <div class="content">
            <article class="event article-single-event">
              <div class="entry-content">
                <div class="event-body" itemprop="articleBody">
                  <div class="dashboard-tables">
                    <%= render partial: 'tasks_table', layout: false, locals: { todos: @todos } %>
                    <% if current_user.admin %>
                      <%= render partial: 'reports_table', layout: false %>
                    <% end %>
                    <br>
                    <%= render partial: 'open_orders_table', layout: false, locals: { all_items: @all_items } %>
                  </div>
  							</div><!-- /.event-body -->
  						</div><!-- /.event-box -->
  					</article><!-- /.event article-single-event -->
  				</div><!-- /.content -->
  			</div><!-- /.columns large-8 -->
      <% end %>


      <% if current_user.career_account != 'true' %>
        <div class="columns large-4 medium-5">
  				<div class="sidebar">
  					<div class="widgets">
  						<div class="widget widget-categories">
  							<h4>Quick</h4>

  							<h3>Actions</h3>

  							<ul class="list-plus">
                  <% if current_user.admin %>
    								<li class='change-hours-list-item'>
    									<a href="#" class='open-hours-form'>
    										<i class="fa fa-plus"></i>
    										Change Corporate Hours
    									</a>

                      <%= render 'days/update_hours' %>
    								</li>
                  <% end %>
                  <li class='request-item-order'>
                    <a href="#" class='open-item-order'>
                      <i class="fa fa-plus"></i>
                      Request Item Order
                    </a>

                    <%= render 'items/new_item_form' %>
                  </li>
  							</ul><!-- /.list-plus -->
  						</div><!-- /.widget widget-categories -->
  					</div><!-- /.widgets -->
  				</div><!-- /.sidebar -->
  			</div><!-- /.columns large-4 -->
      <% end %>
		</div><!-- /.row -->
	</div><!-- /.main -->
  <%= render 'layouts/footer' %>
</div>

<%= javascript_include_tag "todos.js" %>
<%= javascript_include_tag "days.js" %>
<%= javascript_include_tag "items.js" %>
<%= javascript_include_tag "app.js" %>
