<section class="section section-updates">
  <div class="section-ribbon">
    <i class="fa fa-bullhorn"></i>
  </div><!-- /.section-ribbon -->

  <header class="section-head">
    <h2>Latest News &amp; Events</h2>
    <h6>Checkout our latest updates</h6>
  </header><!-- /.section-head -->

  <div class="row">
    <div class="column large-6 medium-6">
      <div class="event">
        <div class="event-date">
          <p>APRIL 21, 2015</p>
        </div><!-- /.event-date -->

        <div class="event-box">
          <div class="event-image">
            <a href="#">
              <%= image_tag( "event.jpg", size: "270x177" ) %>
            </a>
          </div><!-- /.event-image -->

          <div class="event-entry">
            <h4>
              <a href="#">New chip traps clusters of migrating tumor cells</a>
            </h4>

            <p>Said open land form moved air his signs moveth creepeth appear appear it. Appear living you dry our tree one.</p>

            <a href="#" class="link-more">
              <i class="fa fa-plus"></i>
              Know More
            </a>
          </div><!-- /.event-entry -->
        </div><!-- /.event-box -->
      </div><!-- /.event -->
    </div><!-- /.column large-6 -->

    <div class="column large-6 medium-6">
      <ul class="list-events">
        <li>
          <a href="#">
            <span class="image">
              <%= image_tag( "event1.jpg", size: "82x82" ) %>
            </span>

            <span class="title">New blood test can quickly diagnose irritable bowel syndrome.</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="image">
              <%= image_tag( "event2.jpg", size: "82x82" ) %>
            </span>

            <span class="title">Family history has 'no adverse effect' on breast cancer outcomes.</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="image">
              <%= image_tag( "event3.jpg", size: "82x82" ) %>
            </span>

            <span class="title">Brain area that decodes speech timing discovered.</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="image">
              <%= image_tag( "event4.jpg", size: "82x82" ) %>
            </span>

            <span class="title">Metabolic syndrome affects more than a third of Americans.</span>
          </a>
        </li>
      </ul><!-- /.list-events -->
    </div><!-- /.column large-6 -->
  </div><!-- /.row -->

  <div class="section-actions">
    <a href="#" class="button btn-light-blue btn-small">CHECK OUT MORE NEWS</a>
  </div><!-- /.section-actions -->
</section><!-- /.section-updates -->
