<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
  <%= image_tag( 'logo_loader.png', class: 'img-responsive' ) %>
</div>

<div class="wrapper">

	<%= render "header" %>

	<div class="intro">
		<div class="intro-slider">
			<div class="slider-clip">
				<ul class="slides">
					<li class="slide fullsize-image-container">
						<div class="slide-image">
              <%= image_tag("slide1.jpg", size: "2560x1200", class: "fullsize-image") %>
						</div><!-- /.slide-image -->

						<div class="slide-caption">
							<h5>WELCOME</h5>

							<div class="slide-caption-inner">
								<h1>
									<span>Quick RX</span><br>
									THE PHARMACY YOU CAN TRUST
								</h1>

								<p class="mobile-hidden">With over 10 locations and rapidly growing, we are sure to be in your area soon!</p>

								<!-- <a href="#"> -->
									<!-- <i class="fa fa-plus"></i> -->
									<!-- Know More -->
								<!-- </a> -->
							</div><!-- /.slide-caption-inner -->
						</div><!-- /.slide-caption -->
					</li><!-- /.slide -->
				</ul><!-- /.slides -->
			</div><!-- /.slider-clip -->
		</div><!-- /.intro-slider -->
	</div><!-- /.intro -->

	<div class="main">

		<!-- Section Information -->
		<section class="section section-information">
			<div class="row">
				<div class="columns large-6 medium-12 grey">
					<section class="section-about-us fullsize-image-container">
						<h6>OUR STORY</h6>

						<h2>ABOUT QUICK RX</h2>

						<h3>QuickRX is New York City's most trusted pharmacy with a friendly, multilingual staff who treat you like family.</h3>

						<p>Customers confidently choose QuickRX because we consistently understand and exceed their expectations. Everyone at Quick Rx works together to provide a superior pharmacy experience.</p>


						<a href="#" class="button btn-light-blue btn-small">Know More</a>

					</section><!-- /.section-about-us -->
				</div><!-- /.columns large-6 -->

				<div class="columns large-6 medium-12 blue">
					<section class="section-features">
						<h6>SERVICES AT GLANCE</h6>

						<h2>OUR SERVICES</h2>

						<p>The pharmacy industry is continuously evolving, but at QuickRX we have made it our mission to be ahead of the curve, constantly developing and providing high-quality formulations and extraordinary customer service to both patients and healthcare practitioners.</p>

						<ul class="list-features" itemscope itemtype="http://schema.org/Product">
							<li>
								<p itemprop="name">
									<a href="#"><i class="fa fa-plus"></i>
									Hypertension Testing</a>
								</p>
							</li>

							<li>
								<p itemprop="name">
									<a href="#"><i class="fa fa-plus"></i>
									Patient Adherence Programs</a>
								</p>
							</li>

							<li>
								<p itemprop="name">
									<a href="#"><i class="fa fa-plus"></i>
									Free Delivery</a>
								</p>
							</li>

							<li>
								<p itemprop="name">
									<a href="#"><i class="fa fa-plus"></i>
									Most Insurances Accepted</a>
								</p>
							</li>

							<li>
								<p itemprop="name">
									<a href="#"><i class="fa fa-plus"></i>
									Free Pharmacist Consultations</a>
								</p>
							</li>

						</ul><!-- /.list-features -->

						<a href="#" class="button btn-white btn-small">Know More</a>
					</section><!-- /.section-features -->
				</div><!-- /.columns large-6 -->
			</div><!-- /.row -->
		</section><!-- /.section-information -->

		<!-- Doctors -->
		<section class="section section-doctors">
			<div class="section-ribbon">
				<i class="icon-doctor"></i>
			</div><!-- /.section-ribbon -->

			<header class="section-head">
				<h2>PHARMACISTS SPOTLIGHT</h2>

				<h6>SERVICE YOU'LL LOVE, A CHAIN YOU CAN TRUST</h6>
			</header><!-- /.section-head -->

			<%= render "doctors" %>

			<!-- <div class="section-actions">
				<a href="#" class="button btn-grey btn-small">CLICK TO VIEW ALL DOCTORS</a>
			</div> -->
      <!-- /.section-actions -->
		</section><!-- /.section-doctors -->


		<!-- Services -->
		<section class="section section-services">
			<div class="section-ribbon">
				<i class="icon-hospital white"></i>
			</div><!-- /.section-ribbon -->

			<header class="section-head">
				<h2>OUR DEPARTMENTS</h2>

			</header><!-- /.section-head -->

			<div class="tabs tabs-services">

				<%= render "department_tabs" %>

				<%= render "tab_bodies" %>

			</div><!-- /.tabs -->

			<!-- <%# render "ad" %>  Render the advertisement -->

		</section><!-- /.section-services -->

		<!-- Testimonials -->

		<%= render "testimonials" %>

		<!-- News -->

		<%# render "news" %>

	</div><!-- /.main -->

	<%= render "layouts/footer" %>
</div><!-- /.wrapper -->
<%= javascript_include_tag "testimonials.js" %>
