<section class="event section-add-comment">
  <header class="section-head event-date">
    <p>ADD YOUR COMMENT</p>
  </header><!-- /.section-head event -->

  <div class="section-body event-box">
    <div class="form form-add-comment">

      <%= form_for @new_comment do |f| %>
        <label for="body">Write a comment</label>
          <div class="input-field">
            <%=f.text_field :body, hide_label: true, class: 'textarea' %>
          </div>
          <%=f.hidden_field :user_id, :value => current_user.id %>
          <%=f.hidden_field :post_id, :value => @post.id %>
          <%=f.submit "SUBMIT NOW", class: "button btn-purple btn-small" %>
      <% end %>
    </div><!-- /.form-add-comment -->
  </div><!-- /.section-body event-box -->
</section><!-- /.section-add-comments -->
