<%= form_for @day, url: day_path, html: { method: :put, class: 'weekday_hours_form' } do |f| %>
  <label for="weekday">Start Time</label>
  <%= f.text_field :hourbegins, placeholder: @day.hourbegins %>
  <label for="weekday">End Time</label>
  <%= f.text_field :hourend, placeholder: @day.hourend %>
  <%= f.hidden_field :id, value: @day.id %>
  <%= f.submit 'Change Hours' %>
<% end %>
