<%= form_for @item, html: { class: 'new-item-form' }  do |f| %>
  <label for="name">Item</label>
  <%= f.text_field :name %>
  <br>
  <label for="link">Link To Purchase (optional)</label>
  <%= f.text_field :link %>
  <br>
  <label for="pharmacy_id">Pharmacy</label>
  <%= f.select :pharmacy_id, Pharmacy.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <br>
  <%= f.submit 'Submit Request', class: 'submit-new-item' %>
<% end %>
