<ul class="list-plus locations-list-plus">
  <li>
    <a href="#">
      <i class="fa fa-plus"></i>
      Upper West Side
    </a>
    <div class="info-contact-no-show">
      <blockquote>Quick RX Upper West Side <br> 909 Columbus Avenue. <br> New York, NY 10025 <br> (212) 222-6388 <%= image_tag( 'logo.png', size: "250x150", class: "qrx-logo-contact" ) %> </blockquote>
    </div>
  </li>

  <li>
    <a href="#">
      <i class="fa fa-plus"></i>
      Upper East Side
    </a>
    <div class="info-contact-no-show">
      <blockquote>Quick RX Upper East Side <br> 175 East 96th Street <br> New York, NY 10128 <br> (646) 979-2900 <%= image_tag( 'logo.png', size: "250x150", class: "qrx-logo-contact" ) %> </blockquote>
    </div>
  </li>

  <li>
    <a href="#">
      <i class="fa fa-plus"></i>
      Washington Heights
    </a>
    <div class="info-contact-no-show">
      <blockquote>Quick RX Washington Heights <br> 27 Audubon Avenue <br> New York, NY 10032 <br> (646) 448-4848 <%= image_tag( 'logo.png', size: "250x150", class: "qrx-logo-contact" ) %> </blockquote>
    </div>
  </li>

  <li>
    <a href="#">
      <i class="fa fa-plus"></i>
      East Harlem
    </a>
    <div class="info-contact-no-show">
      <blockquote>Quick RX East Harlem <br> 2355 2nd Avenue #1 <br> New York, NY 10035 <br> (212) 426-7151 <%= image_tag( 'logo.png', size: "250x150", class: "qrx-logo-contact" ) %> </blockquote>
    </div>
    <div class="info-contact-no-show">
      <blockquote>Quick RX East Harlem <br> 1875 Lexington Avenue <br> New York, NY 10035 <br> (212) 410-0911 <%= image_tag( 'logo.png', size: "250x150", class: "qrx-logo-contact" ) %> </blockquote>
    </div>
  </li>

  <li>
    <a href="#">
      <i class="fa fa-plus"></i>
      Huntington (Long Island)
    </a>
    <div class="info-contact-no-show">
      <blockquote>Quick RX Long Island <br> 241 E Main St. <br> Huntington, NY 11743 <br> (631) 812-2189 <%= image_tag( 'logo.png', size: "250x150", class: "qrx-logo-contact" ) %> </blockquote>
    </div>
  </li>

  <li>
    <a href="#">
      <i class="fa fa-plus"></i>
      Morris Park (Bronx)
    </a>
    <div class="info-contact-no-show">
      <blockquote>Quick RX Bronx <br> 1642 Eastchester Road <br> Bronx, NY 10461 <br> (347) 691-3494 <%= image_tag( 'logo.png', size: "250x150", class: "qrx-logo-contact" ) %> </blockquote>
    </div>
  </li>

  <li>
    <a href="#">
      <i class="fa fa-plus"></i>
      Bedford-Stuyvesant (Brooklyn)
    </a>
    <div class="info-contact-no-show">
      <blockquote>Quick RX Bedford-Stuyvesant <br> 1456 Fulton St. <br> Brooklyn, NY 11216 <br> (718) 638-5088 <%= image_tag( 'logo.png', size: "250x150", class: "qrx-logo-contact" ) %> </blockquote>
    </div>
    <div class="info-contact-no-show">
      <blockquote>Quick RX Bedford-Stuyvesant <br> 1458 Fulton St. <br> Brooklyn, NY 11216 <br> (718) 221-4860 <%= image_tag( 'logo.png', size: "250x150", class: "qrx-logo-contact" ) %> </blockquote>
    </div>
  </li>

  <li>
    <a href="#">
      <i class="fa fa-plus"></i>
      Coney Island (Brooklyn)
    </a>
    <div class="info-contact-no-show">
      <blockquote>Quick RX Coney Island <br> 2720 Mermaid Avenue <br> Brooklyn, NY 11224 <br> (718) 333-2525 <%= image_tag( 'logo.png', size: "250x150", class: "qrx-logo-contact" ) %> </blockquote>
    </div>
  </li>
</ul><!-- /.list-plus -->
