<!DOCTYPE html>
<html>
<head>
  <title>QuickrxSpecialty</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
  <%= stylesheet_link_tag    'style', media: 'all' %>
  <%= stylesheet_link_tag    'component_loading', media: 'all' %>
  <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <%= javascript_include_tag "vendor" %>
  <%= javascript_include_tag "jquery.stellar.min.js" %>
  <%= javascript_include_tag "loading" %>
  <%= javascript_include_tag "divisions.js" %>
  <%= javascript_include_tag "jquery.sticky.js" %>
  <script src="http://cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
  <%= tinymce_assets %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>
</body>
</html>
