<!DOCTYPE html>
<html>
<head>
  <title>QuickrxSpecialty</title>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
  <%= stylesheet_link_tag    'style', media: 'all' %>
  <%= stylesheet_link_tag    'component_loading', media: 'all' %>
  <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <%= javascript_include_tag "vendor" %>
  <%= javascript_include_tag "jquery.stellar.min.js" %>
  <%= javascript_include_tag "app" %>
  <%= javascript_include_tag "divisions.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
</body>
</html>
