<!DOCTYPE html>
<html>
<head>
  <title>QuickrxSpecialty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'style', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'app' %>
  <%= javascript_include_tag 'vendor' %>
  <%= javascript_include_tag 'jquery.stellar.min' %>
  <!-- <script src="assets/vendor.js"></script>
  <script src="assets/jquery.stellar.min.js"></script>
  <script src="assets/app.js"></script> -->
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
